.App {
  text-align: center;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: red solid 2px;
}

.header-btn-box {
  width: 100%;
  border: white solid 2px;
  display: flex;
  justify-content: right;
  gap: 1rem;
}

.logo {
  text-align: center;
  font-size: 2rem;
  color: #006bff;
  margin: 0;
  margin-left: 1rem;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Modak";
  -webkit-text-stroke: 1px yellow;
}

h1 {
  text-align: center;
  font-size: 5rem;
  color: #006bff;
  margin: 0;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Modak";
  -webkit-text-stroke: 1px yellow;
}

h2 {
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
}

.past-complaints {
  position: sticky;
  margin-top: 0px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(135deg, #1e3a8a, #2563eb, #60a5fa, #93c5fd);
  background-attachment: fixed; /* Ensures the background stays fixed while scrolling */
  background-size: cover; /* Ensures the gradient covers the entire area */
  background-repeat: no-repeat;
}

.left-side-inner {
  display: flex;
  background-color: #08c2ff;
  border: 3px solid #08c2ff;
  border-radius: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-side-inner {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #08c2ff;
  border: 3px solid #08c2ff;
  border-radius: 20px;
  margin-right: 50px;
  padding-top: 20px;
  padding-bottom: 60px;
  padding-right: 40px;
  padding-left: 25px;
  height: 60vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable vertical scrolling*/
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.left-side {
  height: 100%;
  width: 100%;
  justify-items: center;
  align-content: center !important;
}

.right-side {
  height: 100%;
  width: 100%;
  align-content: center;
  justify-items: center !important;
}

.nav-link {
  display: flex;
  border: black solid 2px;
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  color: #bcf2f6;
}

.blog-container {
  display: block;
  margin-left: 31%;
  width: 100%;
  align-self: center;
  border: 3px solid #08c2ff;
  border-radius: 10px;
  padding: 5px;
  width: 33%;
  margin-bottom: 10px;
}

.blog-text-area {
  width: 100%;
  align-self: center;
  background-color: #bcf2f6;
  border: 4px solid #fff100;
  border-radius: 20px;
  padding: 5px;
}

.textarea-grid {
  display: flex;
}

#main-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100%;
}

#header {
  border: yellow solid 2px;
  display: flex;
  position: sticky;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #006bff;
  height: 3.5rem;
  width: 100%;
  top: 0px;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.timestamp {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.blog-item {
  align-self: center;
  color: #08c2ff;
  text-align: left;
  width: 100%;
  height: auto;
  border: 3px solid #006bff;
  background: #006bff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-bottom: 5px;
}

#complain-btn {
  background: #006bff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  border-radius: 20px;
  border: 4px solid #006bff;
  font-size: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#footer {
  display: flex;
  position: static;
  bottom: 0px;
  width: 100%;
  background-color: #006bff;
  height: 3.5rem;
  justify-content: left;
  align-items: center;
  margin-top: 3rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.blog-post {
  grid-column-start: 3;
  grid-column: span 2;
  align-self: center;
  text-align: left;
  font-family: "Barrio";
  color: #006bff;
  list-style-type: none;
  overflow-wrap: anywhere;
}

form {
  display: flex;
}

#copyright {
  color: #bcf2f6;
  margin: 0px 30px;
}

.cheese {
  outline: 3px solid #fff100;
  background-color: #fff100;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#main-flexbox {
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  #main-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .left-side {
    margin-top: 20px;
    width: 100%;
  }

  .nav-link {
    font-size: 1rem;
  }

  .right-side {
    width: 100%;
    margin-top: 1rem;
    margin-top: 1rem;
  }

  .left-side-inner {
    padding: 10px;
    width: 80%;
  }

  .right-side-inner {
    padding: 10px;
    width: 80%;
    border-radius: 20px;
  }

  body {
    overflow-y: auto;
    overflow-x: hidden;
  }

  #header {
    position: sticky;
    gap: 5px;
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  #main-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .left-side {
    margin-top: 20px;
    width: 100%;
  }

  .nav-link {
    font-size: 1rem;
  }

  .right-side {
    width: 100%;
    margin-top: 30px;
  }

  .left-side-inner {
    padding: 10px;
    width: 80%;
  }

  .right-side-inner {
    padding: 10px;
    width: 80%;
    margin-right: 0px;
    border-radius: 20px;
  }

  body {
    overflow-y: auto;
  }

  #header {
    position: sticky;
    gap: 5px;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #main-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .left-side {
    margin-top: 20px;
    width: 100%;
  }

  .nav-link {
    font-size: 1rem;
  }

  .right-side {
    width: 100%;
    margin-top: 30px;
  }

  .left-side-inner {
    padding: 10px;
    width: 80%;
  }

  .right-side-inner {
    padding: 10px;
    width: 80%;
    margin-right: 0px;
    border-radius: 20px;
  }

  body {
    overflow-y: auto;
  }

  #header {
    position: sticky;
    gap: 5px;
    justify-content: space-evenly;
  }
}

@media (min-width: 1025px) and (max-width: 1147px) {
  #main-grid {
    grid-template-columns: 1fr;
  }

  .left-side {
    margin-top: 70px;
  }

  .right-side {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
  }

  body {
    overflow-y: auto;
  }
}

@media (min-width: 1148px) {
  #main-grid {
    grid-template-columns: repeat(2, 1f);
  }
}
